*{
    margin:0px;
    padding: 0px;
    
}

body{

    font-family: sans-serif;
}

#contact{
    
    width: 45%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 45%;
    margin-right: auto;
    position: relative;
}
.formele{
    margin-left: 5%;
    padding: 8px;
    width: 500px;
    border-radius:5px;
    
}


.tarea{
    margin-left: 5%;
    
}

#formdiv{
    
    background-color: rgb(225, 225, 225);
    padding: 50px 100px 0px 50px;
    height: 550px; 
    box-shadow: 0 1px 2px rgba(0,0,0,0.5),
    0 2px 4px rgba(0,0,0,0.05),
    0 4px 8px rgba(0,0,0,0.05),
    0 8px 16px rgba(0,0,0,0.05),
    0 16px 32px rgba(0,0,0,0.05),
    0 32px 64px rgba(0,0,0,0.05);

}


#submit{
    width: 150px;
    padding: 12px;
    border-radius:10px;
    margin-left: 5%;
    margin-top: 3%;
    background-color:rgb(24, 178, 16);
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-color:rgba(14, 144, 8,0.05);
    cursor:pointer;
    
}

#submit:hover{
color: black;

}

#label1{
    margin-top: 40px;
    margin-left: 40px;
    font-size: 22px;
    color: rgb(69, 69, 69);
}
#label1 p{
    margin-top: 30px;
    font-size: 25px;
    color: rgb(69, 69, 69);

}

#img{

    position:absolute;
    margin-top: 70px;
    
}

#details{
    position: absolute;
    margin-top: 575px;
    width: 450px;
    height: 200px;
    margin-left: 65px;
    
}

#details p{
    position: absolute;
    margin-left: 10px;
    font-size: 25px;
    font-weight: bold;
    
}

#details h3{
    font-size: 30px;
}

#logo{
    
    width:185px;
    padding: 8px;
}

#message{

    background-color: rgb(237, 35, 35);
    width: 270px;
    margin-top:-870px;
    margin-left: 890px;
    border-radius: 5px;
    text-align: center;
    color: white;
    padding: 5px;
    

}