*{
    margin :0;
    padding :0;
}

body{

    font-family: sans-serif;
}

nav{
    height :60px;
    background-color:rgb(24, 176, 123);
    width: 100%;

}

nav ul{

float: right;
list-style: none;
margin-right: 280px;
margin-top: 0px;


}

nav ul li{
    display: block;
    float: left;
    padding: 24px;
    height: 12px;
}

nav ul li a{

    color: black;
    padding-top: 0px;
    text-decoration: none;
    font-size: 17px;
    color: Black;
    transition-duration: 0.4s;

}


nav ul li a:hover{
    color: white;
    
}

#banner{
    padding: 15px px 0px 20px;
	
	
}

#logbtn{
    float:right;
    margin-left: 465px;
    margin-right: 20px;
    margin-top: -40px;
    
 
}




#footer{
    
   background-color: gray;
   position: absolute;
   height: 150px;
   bottom: 0px;
   width: 100%;
   
}

#social{
    margin-top:15px;
    margin-left:25px;
}

#fbanner{
    padding: 15px 0px 0px 20px;
    margin-top: 15px;
}
.logo1{
	width:60px;
}

.img1{
    width:50px;
   
}

.img2{
    width:50px;
   
}

.img3{
    width:25px;
    
}

.icon ul li{

    float:inline;
    display: block;
}

#tweet{
    margin-top: -52px;
    margin-left: 55px;

}
#fb{
    margin-top: 2px;
    margin-left: 10px;

}

#insta{
    margin-top: -41px;
    margin-left: 112px;

}

#links{

    margin-top: -110px;
    margin-left: 1385px;
    

}

#links ul li{
    list-style: none;
    line-height: 30px;
    

}

#links ul li a{

    text-decoration: none;
    color: rgb(0, 0, 0);

}
#links ul li a:hover{

    color: rgb(203, 0, 0);

}

#linkh5{
    
    font-weight: 900;
}

#copy p{
    text-align: center;
}

#copy{
    
    width: 400px;
    margin-left: 550px;
    margin-top:-30px;
}
 .button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #ff0000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}   

#addall{
	border: 3px solid #f1f1f1;

  display: block;

  margin-left: auto;

  margin-right: auto;

  width: 50%;

  background-image: url(https://www.wallpapertip.com/wmimgs/3-36163_dark-blur.jpg);

  color: white;

  border-radius: 14px;

  box-shadow: 0 0 8px  #669999; 
}